{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage",
        "debug": true
      }
    ],
    "@babel/preset-flow"
  ],
  "sourceMaps": "inline"
}
