{
  "presets": [
    [
      "@babel/preset-env",
      {        
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage",
        "debug": true
      }      
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-numeric-separator",
    "dynamic-import-node-babel-7"    
  ],
  "retainLines": true
}