{
  "presets": [
    [
      "@babel/preset-env",
      {        
        "modules": false,
        "targets": {
          "node": "current"
        },
        "debug": true
      }      
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }]
  ],
  "retainLines": true,
  "comments": true,
  "highlightCode": true  
}