{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage",
        "debug": true
      }
    ]
  ],
  "ignore": ["src/_types/*.js"]
}
